.cardQa{
    height: 110px;
    display: flex;
    font-size:1.2em;
    justify-content: center;
    align-items: center;
}
ion-avatar{
    height: 40px;
    width:40px;
    margin-right:20px;
}
mat-expansion-panel-header{
    background:#10dc60;
    color:#fff!important;
}
#positionFixed{
    position: fixed;
}
#positionRight{
    position: absolute;
    right:0;

}
