<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Bienvenida {{nombre}}
    </ion-title>
    <ion-buttons slot="secondary">
        <!-- <ion-button icon-only [routerLink]="'/home'">
          <ion-icon name="home"></ion-icon>
        </ion-button> -->
        <ion-button icon-only >
          <ion-icon name="chatbubbles"></ion-icon>
          <ion-badge item-end>4</ion-badge>
        </ion-button>
      <ion-button icon-only [routerLink]="'/qa'">
        <ion-icon name="bookmarks"></ion-icon>
      </ion-button>
      <ion-avatar>
        <img src="http://lorempixel.com/200/200" alt=""> 
      </ion-avatar>  
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content> 
  <ion-grid>
    <ion-row>
      <!-- aqui se muestran los mensajes de el usuario seleccionado -->
      <ion-col size="7" id="areaMensajes" >
        <div *ngIf="conversacion">
          <ion-row *ngFor="let mensaje of conversacion.messages">
            <ion-col size="8"  *ngIf="currentUser !== mensaje.user" class="message other-message">
              <b>{{mensaje.user}}</b> <br>
              <span>{{mensaje.content}}</span>
              <div class="time" text-right>
                {{mensaje.date.toDate() | date:'short'}}
              </div> 
            </ion-col>  
                <ion-col offset="4" size="8"  *ngIf="currentUser === mensaje.user" class="message my-message">
                  <b>{{mensaje.user}}</b> <br>
                  <span>{{mensaje.content}}</span>
                  <div class="time" text-right>
                    {{mensaje.date.toDate() | date:'short'}}
                  </div> 
                </ion-col>  
          </ion-row >
        </div>
      </ion-col>

      <!-- esta sección es para mostrar a los usuarios y los datos de los usuarios -->
      <ion-col size="5" id="positionFixed">
        <ion-row>
          <ion-col size="12">
            <ion-list>
              <!-- <h5 class="mamas">Lista de Mamás</h5> -->
              <ion-searchbar placeholder="buscar aviver" animated showcancelbutton=""
              (ionInput)="filterList($event)">
                </ion-searchbar>
                <ion-slides [options]="slideOpts">
                  <ion-slide  *ngFor="let chat of goalList">
                <ion-row>
                        <ion-card (click)="obtenerConversacion(chat)">
                          <img *ngIf="chat.datos.imagen" style="height: 110px;" src="{{chat.datos.imagen}}">
                          <ion-card-header>
                            <ion-card-subtitle>
                                {{chat.datos.nombre}} {{chat.datos.apellido1}}
                            </ion-card-subtitle> 
                          </ion-card-header>
                        </ion-card>
                    </ion-row>
                  </ion-slide> 
                  </ion-slides>  
              </ion-list>  
          </ion-col>
          <ion-col size="12" *ngIf="chat">
            <mat-accordion>
            <mat-expansion-panel >
                <mat-expansion-panel-header >
                  <mat-panel-title>
                    <h5 class="tituloDatos" *ngIf="datosBasicos">Datos de {{datosBasicos.nombre}} {{chat.datos.apellido1}}</h5>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div>
                  <ion-row >
                    <ion-col size="4" class="Nombre:">Nombre:</ion-col>
                    <ion-col size="8">{{datosBasicos.nombre}} {{datosBasicos.apellido1}} {{datosBasicos.apellido2}}</ion-col> 
                  </ion-row>
                  <ion-row >
                      <ion-col size="4">Dni:</ion-col>
                    <ion-col size="8">{{datosBasicos.numeroDocumento}}</ion-col>
                  </ion-row>
                  <ion-row >
                      <ion-col size="4">Telefono:</ion-col>
                    <ion-col size="8">{{datosBasicos.telefono1}}</ion-col>
                  </ion-row>
                  <ion-row >
                      <ion-col size="4">Email:</ion-col>
                    <ion-col size="8" *ngIf="datosBasicos">PENDIENTE</ion-col>
                  </ion-row>
                  <ion-row >
                      <ion-col size="4">Fecha de Nacimiento:</ion-col>
                    <ion-col size="8">{{datosBasicos.fecha_nac | date:"short"}}</ion-col>
                  </ion-row>
                  <ion-row >
                      <ion-col size="4">Semanas:</ion-col>
                    <ion-col size="8" *ngIf="datosBasicos">PENDIENTE</ion-col>
                  </ion-row>
                </div>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header >
                  <mat-panel-title>
                    <ion-col >
                      <h5 class="tituloNotas" *ngIf="datosBasicos.nombre">Mis notas de {{datosBasicos.nombre}}</h5>
                    </ion-col> 
                  </mat-panel-title>
                </mat-expansion-panel-header>  
                  <ion-row>
                    <ion-col size="4" *ngFor="let note of chat.notes">
                      <ion-card >
                          {{note.content}}
                      </ion-card>
                    </ion-col>
                  </ion-row>
              </mat-expansion-panel>
              <mat-expansion-panel >
                  <mat-expansion-panel-header >
                    <mat-panel-title (click)="getNotasPaciente()">
                      <ion-col *ngIf="chat">
                        <h5 class="tituloNotas">Plan Mamá Aviva</h5>
                      </ion-col> 
                    </mat-panel-title>
                  </mat-expansion-panel-header>  
                  <ion-slides [options]="opts">
                      <ion-slide *ngFor="let nota of notasPaciente">
                        <ion-card>
                            <ion-row>
                              <ion-col size="4">
                                <ion-col size="12">{{nota.fecha_encuentro | date:"short"}}</ion-col>
                                <ion-col size="12">{{nota.fecha_encuentro | date:"dd/MM"}}</ion-col>
                              </ion-col>
                              <ion-col size="8">
                                <ion-col size="12">
                                  <p>{{nota.nombre}} {{nota.apellido1}} {{nota.apellido2}}</p> 
                                </ion-col>
                                <ion-col size="12">
                                  <p>{{nota.serv_bas_desc}}</p> 
                                </ion-col>
                              </ion-col>
                              <ion-col size="12"></ion-col>
                            </ion-row>
                        </ion-card>
                      </ion-slide>
                    </ion-slides>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header >
                      <mat-panel-title>
                        <ion-col *ngIf="chat">
                          <h5 class="tituloNotas">Notas Doctor</h5>
                        </ion-col> 
                      </mat-panel-title>
                    </mat-expansion-panel-header>  
                    
                  </mat-expansion-panel>
            </mat-accordion>
          </ion-col>
        </ion-row>
<!--     boton para actualizar las notas -->
</ion-col> 
</ion-row>
    <ion-fab>
      <ion-fab-button  (click)="showModal(chat)" vertical="bottom" horizontal="end" position="fixed" >
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-grid>  
</ion-content> 
 <ion-footer padding>
           <ion-toolbar color="light">
             <ion-row align-items-center no-padding>
               <ion-col size="10">
                 <textarea autosize maxRows="4" [(ngModel)]="msg" class="message-input"></textarea>
               </ion-col>
               <ion-col size="2">
                  <ion-button expand="block" fill="clear" color="primary" [disabled]="msg == ''" class="mag-btn" (click)="sendMessage()">
                      <ion-icon name="send" slot="icon-only"></ion-icon>
                  </ion-button>
               </ion-col>
             </ion-row>
           </ion-toolbar>
          </ion-footer>
